<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.bc.basicdata.dao.AreaCodeMapper">
	 <select id="searchByProvince" resultType="java.util.Map">
	 	select 
	 		PROVINCE "province",
	 		AREA "name",
	 		AREA_CODE "areaCode"
	 	from t_icbc_area_code 
	 	<where>
	 		DEL_STATUS = 0
	 		<if test="province != null and province != ''">
	 			and instr(PROVINCE, #{province, jdbcType=VARCHAR}) &gt; 0
	 		</if>
	 	</where>
	 	group by PROVINCE,AREA,AREA_CODE
	 	ORDER BY AREA_CODE ASC
	 </select>
	 
	 <select id="searchProvinceByParam" resultType="java.lang.String">
	 	select 
	 		PROVINCE "province"
	 	from t_icbc_area_code 
	 	<where>
	 		DEL_STATUS = 0
	 		<if test="province != null and province != ''">
	 			and instr(PROVINCE, #{province, jdbcType=VARCHAR}) &gt; 0
	 		</if>
	 	</where>
	 	group by PROVINCE
	 	order by PROVINCE ASC
	 </select>

</mapper>