<style type="text/css">
    .layui-form-label {
        width: auto;
    }
    
    span#total {
        float: right;
        padding: 0px 5px;
        line-height: 18px;
        margin-top: 10px;
    }
    
    .layui-this {
        background: #1184c3 !important;
    }
</style>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong><span class="icon-pencil-square-o"></span>编辑角色</strong>
    </div>
    <div class="panel-body" id="edit">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">角色名称</label>
                <div class="layui-input-block">
                    <input type="text" name="roleName" v-model="role.roleName" lay-verify="role" autocomplete="off" placeholder="请输入角色名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">角色编码</label>
                <div class="layui-input-block">
                    <input type="text" name="roleCode" v-model="role.roleCode" lay-verify="roleName" autocomplete="off" placeholder="请输入角色编码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">启用状态</label>
                <div class="layui-input-block">
                    <input type="radio" name="enableStatus" v-model="role.enableStatus" value="1" title="启用" checked="">
                    <input type="radio" name="enableStatus" v-model="role.enableStatus" value="0" title="禁用">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea class="layui-textarea" v-model="role.comments" name="comments" lay-filter=""></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="edit">确认修改</button>
                    <a class="layui-btn layui-btn-primary" href="javascript:loader.load('#admin_container','ability_role_list.html')">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form'], function() {
        var form = layui.form;

        form.on('submit(edit)', function(obj) {
            var data = obj.field;
            data.userToken = loader.getCookie('token');
            data.id = edit.role.id;
            layer.load();
            fun.post(loader.baseurl + '/role/update', data, function(res) {
                layer.closeAll('loading');
                if (typeof(res) == 'object') {
                    if (res.code == 1) {
                        layer.msg(res.msg, {
                            icon: 1,
                            end: function() {
                                $(obj.elem).next().get(0).click();
                            }
                        });
                    } else {
                        layer.alert(res.msg, {
                            icon: 2
                        }, function(i) {
                            //							obj.form.reset();
                            layer.close(i);
                        });
                    }
                }
            })
            return false;
        });

        form.verify({
            role: function(val, el) {
                if ($.trim(val) == null || $.trim(val) == '' || $.trim(val) == undefined)
                    return '角色名不能为空';
            }
        });

        var edit = new Vue({
            el: "#edit",
            data: {
                role: loader.temp_data,
            }
        });

        form.render();

    });
</script>