<style type="text/css">
    .layui-form-label {
        width: 125px;
    }
    
    span#total {
        float: right;
        padding: 0px 5px;
        line-height: 18px;
        margin-top: 10px;
    }
    
    .layui-this {
        background: #1184c3 !important;
    }
    
    .layui-input-block {
        margin-left: 180px;
        min-height: 36px;
    }
    
    .remark {
        width: 840px !important;
    }
    
    .layui-form-selectup dl {
        bottom: initial !important;
    }
</style>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong><span class="icon-pencil-square-o"></span>新增支付单</strong>
    </div>
    <div class="panel-body" id="add_ctrl">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">付款账号开户行</label>
                <div class="layui-input-inline not">
                    <input type="hidden" name="paymentDepositBank" />
                    <select name="" lay-filter="bank">
				        <option value="" disabled="disabled" selected="selected">请选择开户行</option>
				        <option v-for='item in bank' :value="item.bankAccount">{{item.bankName}}</option>
			      	</select>
                </div>
                <label class="layui-form-label">付款账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="paymentNumber" disabled="disabled" lay-verify="required" autocomplete="off" placeholder="请输入付款账号" class="layui-input">
                </div>
                <label class="layui-form-label">付款账号名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="paymentName" lay-verify="required" autocomplete="off" placeholder="请输入付款账号名称" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">收款账号开户行</label>
                <div class="layui-input-inline not">
                    <select name="receivablesDepositBank" lay-filter="industry" lay-verify="required">
				        <option value="" selected="selected" disabled="disabled">请选择收款账号开户行</option>
				        <option value="中国工商银行" data-industry="true">中国工商银行</option>
				        <option value="中国建设银行" data-industry="">中国建设银行</option>
				        <option value="中国人民银行" data-industry="">中国人民银行</option>
				        <option value="中国银行" data-industry="">中国银行</option>
				        <option value="中国农业银行" data-industry="">中国农业银行</option>
				        <option value="中国光大银行" data-industry="">中国光大银行</option>
				        <option value="中国民生银行" data-industry="">中国民生银行</option>
				        <option value="中国邮政银行" data-industry="">中国邮政银行</option>
				        <option value="中国交通银行" data-industry="">中国交通银行</option>
      				</select>
                </div>
                <label class="layui-form-label">收款账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="receivablesNumber" lay-verify="required" autocomplete="off" placeholder="请输入收款账号" class="layui-input">
                </div>
                <label class="layui-form-label">收款账号名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="receivablesAccountName" lay-verify="required" autocomplete="off" placeholder="请输入收款账号名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">收款账号省份</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="receivablesProvince" />
                    <select name="" id="province" :disabled="industry" lay-filter="province" lay-verify="province">
				        <option value="" selected="selected" disabled="disabled">请选择省份</option>
				        <option :value="item.id" v-for="item in provinces">{{item.province}}</option>
      				</select>
                </div>
                <label class="layui-form-label">收款账号城市</label>
                <div class="layui-input-inline">
                    <input type="hidden" name="receivablesCity" />
                    <select name="" id="city" lay-filter="city" :disabled="industry" lay-verify="city">
				        <option value="" selected="" disabled="disabled">请选择城市</option>
				        <option :value="item.areaCode" v-for="item in citys">{{item.name}}</option>
      				</select>
                </div>
                <label class="layui-form-label">收款账号地区码</label>
                <div class="layui-input-inline">
                    <input name="receivablesAreaCode" lay-verify="required" disabled="disabled" readonly="readonly" placeholder="收款账号地区码" class="layui-input" />
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">案号</label>
                <div class="layui-input-inline not">
                    <input type="hidden" name="caseNumber" />
                    <select name="caseId" lay-verify="caseNumber" lay-filter="caseNumber">
				        <option value="" disabled="disabled" selected="selected">请选择案号</option>
				        <option v-for='item in cases' :value="item.id" :data-balance="item.balance">{{item.caseNumber}}</option>
			      	</select>
                </div>
                <label class="layui-form-label">余额</label>
                <div class="layui-input-inline">
                    <input type="text" name="balance" disabled="disabled" class="layui-input">
                </div>
                <label class="layui-form-label">日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="date" lay-verify="required" autocomplete="off" id="date" placeholder="请输入日期" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="amount" lay-verify="money|number" autocomplete="off" placeholder="请输入金额" class="layui-input">
                </div>
                <label class="layui-form-label">汇款用途</label>
                <div class="layui-input-inline">
                    <input type="text" name="remittancePurpose" lay-verify="required" autocomplete="off" placeholder="请输入汇款用途" class="layui-input">
                </div>
                <label class="layui-form-label">币种</label>
                <div class="layui-input-inline">
                    <select name="currency" lay-filter="money_cate|required" disabled="disabled">
				        <option value="RMB" selected="" disabled="disabled">人民币（RMB）</option>
      				</select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">明细标志</label>
                <div class="layui-input-inline">
                    <input type="text" name="detailTitle" lay-verify="" autocomplete="off" placeholder="请输入明细标志" class="layui-input">
                </div>
                <label class="layui-form-label">汇款方式</label>
                <div class="layui-input-inline">
                    <input type="text" name="remittanceMode" lay-verify="required" autocomplete="off" placeholder="请输入汇款方式" class="layui-input">
                </div>
                <label class="layui-form-label">收款账号手机号</label>
                <div class="layui-input-inline">
                    <input type="text" name="receivablesPhone" lay-verify="" autocomplete="off" placeholder="请输入收款账号手机号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">备注信息</label>
                <div class="layui-input-inline remark">
                    <textarea placeholder="请输入内容" name="remarks" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="add">确认提交</button>
                    <a class="layui-btn layui-btn-primary" href="javascript:loader.load('#admin_container','data_income_spending.html')">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            laydate = layui.laydate;

        $(document).on('propertychange input', '.not input', function() {
            var value = $(this).val();
            $('input[name=balance]').val('0.00');
            $(this).closest('.not').children(':first-child').val(value);
            var dds = $(this).parent().next().children();
            dds.hide();
            dds.each(function(i, e) {
                if ($(e).text().indexOf(value) != -1) {
                    $(e).show();
                }
            });
        });

        form.on('select(province)', function(data) {
            var obj = add_ctrl.provinces[parseInt(data.value) - 1];
            $('input[name=receivablesProvince]').val(obj.province);
            add_ctrl.citys = obj.citys;
            $('select[name=receivablesCity]').val('');
            form.render('select');
        });

        form.on('select(city)', function(data) {
            var op = $(data.elem).find('option:selected');
            $('input[name=receivablesAreaCode]').val(data.value);
            $('input[name=receivablesCity]').val(op.text());
        });

        form.on('select(bank)', function(data) {
            var item = $(data.elem).find('option:selected');
            $('input[name=paymentNumber]').val(item.val());
            item.parent().prev().val(item.text());
        });

        form.on('select(caseNumber)', function(data) {
            var item = $(data.elem).find('option:selected');
            $(data.elem).prev().val(item.text());
            $('input[name=balance]').val(item.data('balance'));
        });

        //监听是否选择工商银行
        form.on('select(industry)', function(data) {
            var item = $(data.elem).find('option:selected');
            if (item.data('industry')) {
                add_ctrl.industry = false;
            } else {
                add_ctrl.industry = 'disabled';
                $('input[name=receivablesAreaCode]').val('0000');
            }
        });

        form.on('submit(add)', function(obj) {
            var data = obj.field;
            data.userToken = loader.getCookie('token');
            data.roles = add_ctrl.role;
            layer.load();
            fun.post(loader.baseurl + '/courtPayOrder/add', data, function(res) {
                layer.closeAll('loading');
                if (typeof(res) == 'object') {
                    if (res.code == 1) {
                        layer.msg(res.msg, {
                            icon: 1,
                            end: function() {
                                $(obj.elem).next().get(0).click();
                            }
                        });
                    } else {
                        var msg = res.msg || '新增支付单失败！';
                        layer.alert(msg, {
                            icon: 2
                        }, function(i) {
                            //obj.form.reset();
                            layer.close(i);
                        });
                    }
                }
            })
            return false;
        });

        add_ctrl = new Vue({
            el: "#add_ctrl",
            data: {
                provinces: [],
                citys: [],
                bank: [],
                cases: [],
                industry: 'disabled'
            },
            methods: {

            },
            created: function() {
                var that = this;
                fun.get(loader.baseurl + '/case/havingBalance', {
                    userToken: loader.getCookie('token')
                }, function(res) {
                    if (res) that.cases = res.data;
                });
                fun.get(loader.baseurl + '/areaCode/list', {
                    province: ''
                }, function(rs) {
                    if (rs) that.provinces = rs.data;
                });
                fun.get(loader.baseurl + '/bankManager/list', {}, function(rs) {
                    if (rs) that.bank = rs.data;
                });
            },
            updated: function() {
                form.render('select');
                $('div.not input').removeAttr('readonly');
            }
        });

        form.verify({
            //          caseNumber: function(val, el) {
            //              if ($.trim(val) == '' || $.trim(val) == null || $.trim(val) == undefined)
            //                  return '请选择案件编号！';
            //          },
            money: function(val, el) {
                if ($.trim(val) == '' || $.trim(val) == null || $.trim(val) == undefined)
                    return '案件金额必须填写！';
            },
            bank: function(val, el) {
                if ($.trim(val) == '' || $.trim(val) == null || $.trim(val) == undefined)
                    return '请选择银行账号';
            }
        });

        form.render();

        laydate.render({
            elem: '#date',
            value: new Date()
        });

    });
</script>