<style type="text/css">
    .layui-form-label {
        width: 125px;
    }
    
    .remark {
        width: 840px !important;
    }
    
    span#total {
        float: right;
        padding: 0px 5px;
        line-height: 18px;
        margin-top: 10px;
    }
    
    .layui-this {
        background: #1184c3 !important;
    }
    
    #tree_box {
        border: solid 1px #C2C2C2;
        position: absolute !important;
        height: auto;
        overflow: auto;
        z-index: 9999 !important;
        background: white;
        width: 100%;
        margin-top: 3px;
        overflow-x: scroll;
        display: none;
    }
    
    .sub {
        position: relative;
    }
    
    .layui-tree li {
        overflow: inherit !important;
    }
    
    #tree {
        cursor: pointer;
    }
</style>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong><span class="icon-pencil-square-o"></span>编辑pos数据</strong>
    </div>
    <div class="panel-body" id="edit_ctrl">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">终端编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="terminalNumber" v-model="posdata.terminalNumber" lay-verify="" autocomplete="off" placeholder="请输入终端编号" class="layui-input">
                </div>
                <label class="layui-form-label">交易时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="transactionTime" id="time" v-model="posdata.transactionTime" lay-verify="" autocomplete="off" placeholder="请输入交易时间" class="layui-input">
                </div>
                <label class="layui-form-label">银行卡号</label>
                <div class="layui-input-inline">
                    <input type="text" name="bankNumber" v-model="posdata.bankNumber" lay-verify="" autocomplete="off" placeholder="请输入银行卡号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">交易金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="transationPrice" v-model="posdata.transationPrice" lay-verify="number" autocomplete="off" placeholder="请输入交易金额" class="layui-input">
                </div>
                <label class="layui-form-label">红利收入</label>
                <div class="layui-input-inline">
                    <input type="text" name="dividendIncome" v-model="posdata.dividendIncome" lay-verify="number" autocomplete="off" placeholder="请输入红利收入" class="layui-input">
                </div>
                <label class="layui-form-label">红利支出</label>
                <div class="layui-input-inline">
                    <input type="text" name="dividendExpenditure" v-model="posdata.dividendExpenditure" lay-verify="number" autocomplete="off" placeholder="请输入红利支出" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">小费</label>
                <div class="layui-input-inline">
                    <input type="text" name="dumbo" v-model="posdata.dumbo" lay-verify="number" autocomplete="off" placeholder="请输入小费" class="layui-input">
                </div>
                <label class="layui-form-label">手续费</label>
                <div class="layui-input-inline">
                    <input type="text" name="serviceCharge" v-model="posdata.serviceCharge" lay-verify="number" autocomplete="off" placeholder="请输入手续费" class="layui-input">
                </div>
                <label class="layui-form-label">分期付款手续费</label>
                <div class="layui-input-inline">
                    <input type="text" name="installmentFee" v-model="posdata.installmentFee" lay-verify="number" autocomplete="off" placeholder="请输入分期付款手续费" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">净收金额</label>
                <div class="layui-input-inline">
                    <input type="text" name="netProceeds" v-model="posdata.netProceeds" lay-verify="number" autocomplete="off" placeholder="请输入净收金额" class="layui-input">
                </div>
                <label class="layui-form-label">交易检索号</label>
                <div class="layui-input-inline">
                    <input type="text" name="transactionSearcheNumber" v-model="posdata.transactionSearcheNumber" lay-verify="" autocomplete="off" placeholder="请输入交易检索号" class="layui-input">
                </div>
                <label class="layui-form-label">交易类型</label>
                <div class="layui-input-inline">
                    <input type="text" name="transactionType" v-model="posdata.transactionType" lay-verify="" autocomplete="off" placeholder="请输入交易类型" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">款项性质</label>
                <div class="layui-input-inline">
                    <input type="text" name="moneyNature" v-model="posdata.moneyNature" lay-verify="" autocomplete="off" placeholder="请输入款项性质" class="layui-input">
                </div>
                <label class="layui-form-label">收款账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="receivablesNumber" v-model="posdata.receivablesNumber" lay-verify="" autocomplete="off" placeholder="请输入收款账号" class="layui-input">
                </div>
                <label class="layui-form-label">部门名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="departmentName" v-model="posdata.departmentName" lay-verify="" autocomplete="off" placeholder="请输入部门名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">持卡人</label>
                <div class="layui-input-inline">
                    <input type="text" name="chikar" v-model="posdata.chikar" lay-verify="" autocomplete="off" placeholder="请输入持卡人" class="layui-input">
                </div>
                <label class="layui-form-label">科目名称</label>
                <!--<div class="layui-input-inline sub">
                	<input type="hidden" name="subjectId" v-model="posdata.subjectId" />
                    <input type="text" readonly="readonly" v-model="posdata.subjectName" name="subjectName" id="tree" placeholder="选择科目" class="layui-input">
                    <div id="tree_box">
                        <ul id='subject'></ul>
                    </div>
                </div>-->
                <div class="layui-input-inline not">
                    <input type="hidden" name="subjectName" value="" v-model="posdata.subjectName" />
                    <select name="subjectId" lay-filter="nature" v-model="posdata.subjectId">
                    	<option value="" disabled="disabled" selected="selected">请选择科目名称</option>
				        <option v-for="item in subNames" :data-code="item.s_code" :value="item.id">{{item.s_name}}</option>
      				</select>
                </div>
                <label class="layui-form-label">案号</label>
                <div class="layui-input-inline not">
                    <input type="hidden" name="caseNumber" v-model="posdata.caseNumber" />
                    <select name="caseId" lay-verify="caseNumber" v-model="posdata.caseId" lay-filter="caseNumber">
				        <option value="" disabled="disabled" selected="selected">请选择案号</option>
				        <option v-for='item in cases' :value="item.id">{{item.name}}</option>
			      	</select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">承办人名</label>
                <div class="layui-input-inline">
                    <input type="text" name="undertaker" v-model="posdata.undertaker" lay-verify="" autocomplete="off" placeholder="请输入承办人名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">摘要</label>
                <div class="layui-input-inline remark">
                    <textarea name="abstractInfo" v-model="posdata.abstractInfo" autocomplete="off" placeholder="请输入摘要" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="editpos">确认修改</button>
                    <a class="layui-btn layui-btn-primary" href="javascript:loader.load('#admin_container','data_post_preserve.html')">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'laydate', 'tree'], function() {
        var form = layui.form,
            laydate = layui.laydate;

        form.on('select', function(data) {
            $(data.elem).prev().val($(data.elem).find('option:selected').text());
        });

        form.on('submit(editpos)', function(obj) {
            var data = obj.field;
            data.userToken = loader.getCookie('token');
            data.id = edit_ctrl.posdata.id;
            layer.load();
            fun.post(loader.baseurl + '/posPay/edit', data, function(res) {
                layer.closeAll('loading');
                if (typeof(res) == 'object') {
                    if (res.code == 1) {
                        layer.msg(res.msg, {
                            icon: 1,
                            end: function() {
                                $(obj.elem).next().get(0).click();
                            }
                        });
                    } else {
                        layer.alert(res.msg, {
                            icon: 2
                        }, function(i) {
                            // obj.form.reset();
                            layer.close(i);
                        });
                    }
                }
            })
            return false;
        });

        $(document).on('click', '#tree', function(e) {
            e = e || window.event;
            e.stopPropagation();
            $(this).next().slideDown('fast');
        });

        $(document).on('click', '#tree_box', function(e) {
            e = e || window.event;
            e.stopPropagation();
            $(this).show();
        });


        $(document).click(function(e) {
            e = e || window.event;
            var target = e.target || e.srcElement;
            if ($(target) != $('#tree') && $(target) != $('#tree_box')) {
                $('#tree_box').slideUp('fast');
            }
        });

        var edit_ctrl = new Vue({
            el: "#edit_ctrl",
            data: {
                posdata: loader.temp_data,
                cases: [],
                subNames: []
            },
            methods: {},
            created: function() {
                var that = this;
                fun.get(loader.baseurl + '/case/api', {
                    userToken: loader.getCookie('token')
                }, function(res) {
                    if (res) that.cases = res.data;
                });
                //          	fun.get(loader.baseurl + '/subject/list', {userToken: loader.getCookie('token')}, function(rs) {
                //                  if(rs){
                //                  	layui.tree({
                //			                elem: '#subject',
                //			                click: function(item) {
                //			                    $('#tree').val(item.name);
                //			                    $('input[name=subjectId]').val(item.id);
                //			                    $('#tree_box').slideUp('fast');
                //			                },
                //			                nodes:rs.data
                //			            });
                //                  }
                //              });
                fun.get(loader.baseurl + '/subject/getSubjectMj', {
                    userToken: loader.getCookie('token')
                }, function(rs) {
                    that.subNames = rs.data;
                });
                loader.temp_data = '';
            },
            updated: function() {
                form.render('select');
                $('div.not input').removeAttr('readonly');
                $('div.not').each(function(i, el) {
                    $(el).find('.layui-select-title input').val($(el).children(':first-child').val());
                });
            }
        });

        form.render();

        laydate.render({
            elem: '#time',
            type: 'datetime'
        });

    });
</script>