<style type="text/css">
    .layui-form-label {
        width: 125px;
    }
    
    .remark {
        width: 840px !important;
    }
    
    span#total {
        float: right;
        padding: 0px 5px;
        line-height: 18px;
        margin-top: 10px;
    }
    
    .layui-this {
        background: #1184c3 !important;
    }
    
    #tree_box {
        border: solid 1px #C2C2C2;
        position: absolute !important;
        height: auto;
        overflow: auto;
        z-index: 9999 !important;
        background: white;
        width: 100%;
        margin-top: 3px;
        overflow-x: scroll;
        display: none;
    }
    
    .sub {
        position: relative;
    }
    
    .layui-tree li {
        overflow: inherit !important;
    }
    
    #tree {
        cursor: pointer;
    }
</style>
<div class="panel admin-panel">
    <div class="panel-head">
        <strong><span class="icon-pencil-square-o"></span>编辑网银数据</strong>
    </div>
    <div class="panel-body" id="edit_ctrl">
        <form class="layui-form" action="" style="margin-top: 10px;">
            <!--<div class="layui-form-item">
                <label class="layui-form-label">凭证号 </label>
                <div class="layui-input-inline">
                    <input type="text" name="voucherNo" v-model="interdata.voucherNo" lay-verify="" autocomplete="off" placeholder="请输入凭证号" class="layui-input">
                </div>
            </div>-->
            <div class="layui-form-item">
                <label class="layui-form-label">本方账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="localNumber" v-model="interdata.localNumber" lay-verify="" autocomplete="off" placeholder="请输入本方账号" class="layui-input">
                </div>
                <label class="layui-form-label">对方账号</label>
                <div class="layui-input-inline">
                    <input type="text" name="partyNumber" v-model="interdata.partyNumber" lay-verify="" autocomplete="off" placeholder="请输入对方账号" class="layui-input">
                </div>
                <label class="layui-form-label">交易时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="transactionTime" id="time" v-model="interdata.transactionTime" lay-verify="" autocomplete="off" placeholder="请输入交易时间" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">借/贷</label>
                <div class="layui-input-inline">
                    <input type="text" name="borrowOrLend" v-model="interdata.borrowOrLend" lay-verify="" autocomplete="off" placeholder="请输入借/贷" class="layui-input">
                </div>
                <label class="layui-form-label">借方发生额</label>
                <div class="layui-input-inline">
                    <input type="text" name="debitPrice" v-model="interdata.debitPrice" lay-verify="" autocomplete="off" placeholder="请输入借方发生额" class="layui-input">
                </div>
                <label class="layui-form-label">贷方发生额</label>
                <div class="layui-input-inline">
                    <input type="text" name="creditPrice" v-model="interdata.creditPrice" lay-verify="" autocomplete="off" placeholder="请输入贷方发生额" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">对方行号</label>
                <div class="layui-input-inline">
                    <input type="text" name="partyLineNumber" v-model="interdata.partyLineNumber" lay-verify="" autocomplete="off" placeholder="请输入对方行号" class="layui-input">
                </div>
                <label class="layui-form-label">用途</label>
                <div class="layui-input-inline">
                    <input type="text" name="purpose" v-model="interdata.purpose" lay-verify="" autocomplete="off" placeholder="请输入用途" class="layui-input">
                </div>
                <label class="layui-form-label">对方单位名称 </label>
                <div class="layui-input-inline">
                    <input type="text" name="corporateName" v-model="interdata.corporateName" lay-verify="" autocomplete="off" placeholder="请输入对方单位名称 " class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">余额</label>
                <div class="layui-input-inline">
                    <input type="text" name="balance" v-model="interdata.balance" lay-verify="" autocomplete="off" placeholder="请输入余额" class="layui-input">
                </div>
                <label class="layui-form-label">承办人名 </label>
                <div class="layui-input-inline">
                    <input type="text" name="undertaker" v-model="interdata.undertaker" lay-verify="" autocomplete="off" placeholder="请输入承办人名 " class="layui-input">
                </div>
                <label class="layui-form-label">部门名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="departmentName" v-model="interdata.departmentName" lay-verify="" autocomplete="off" placeholder="请输入部门名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">科目名称</label>
                <!--<div class="layui-input-inline sub">
                	<input type="hidden" name="subjectId" v-model="interdata.subjectId" />
                    <input type="text" readonly="readonly" v-model="interdata.subjectName" name="subjectName" id="tree" placeholder="选择科目" class="layui-input">
                    <div id="tree_box">
                        <ul id='subject'></ul>
                    </div>
                </div>            -->
                <div class="layui-input-inline not">
                    <input type="hidden" name="subjectName" value="" v-model="interdata.subjectName" />
                    <select name="subjectId" lay-filter="nature" v-model="interdata.subjectId">
                    	<option value="" disabled="disabled" selected="selected">请选择科目名称</option>
				        <option v-for="item in subNames" :data-code="item.s_code" :value="item.id">{{item.s_name}}</option>
      				</select>
                </div>
                <label class="layui-form-label">案号</label>
                <div class="layui-input-inline not">
                    <input type="hidden" name="caseNumber" v-model="interdata.caseNumber" />
                    <select name="caseId" lay-verify="caseNumber" v-model="interdata.caseId" lay-filter="caseNumber">
				        <option value="" disabled="disabled" selected="selected">请选择案号</option>
				        <option v-for='item in cases' :value="item.id">{{item.name}}</option>
			      	</select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">个性化信息</label>
                <div class="layui-input-inline remark">
                    <textarea name="individuation" v-model="interdata.individuation" lay-verify="" placeholder="请输入个性化信息" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">摘要</label>
                <div class="layui-input-inline remark">
                    <textarea name="abstractInfo" v-model="interdata.abstractInfo" autocomplete="off" placeholder="请输入摘要" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="editinter">确认修改</button>
                    <a class="layui-btn layui-btn-primary" href="javascript:loader.load('#admin_container','data_ebank_preserve.html')">返回</a>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            laydate = layui.laydate;

        form.on('select', function(data) {
            $(data.elem).prev().val($(data.elem).find('option:selected').text());
        });

        $(document).on('propertychange input', '.not input', function() {
        	var value = $(this).val();
        	$(el).closest('.not').children(':first-child').val(value);
            var dds = $(this).parent().next().children();
            dds.hide();
            dds.each($.proxy(function(i, e) {
                if ($(e).text().indexOf($(this).val()) != -1) {
                    $(e).show();
                }
            }, this));
        });

        form.on('submit(editinter)', function(obj) {
            var data = obj.field;
            data.userToken = loader.getCookie('token');
            data.id = edit_ctrl.interdata.id;
            layer.load();
            fun.post(loader.baseurl + '/interPay/edit', data, function(res) {
                layer.closeAll('loading');
                if (typeof(res) == 'object') {
                    if (res.code == 1) {
                        layer.msg('编辑网银数据成功！', {
                            icon: 1,
                        	end:function() {
                            	$(obj.elem).next().get(0).click();
                        }});
                    } else {
                        layer.alert('编辑网银数据失败！', {
                            icon: 2
                        }, function(i) {
                            // obj.form.reset();
                            layer.close(i);
                        });
                    }
                }
            })
            return false;
        });

        $(document).on('click', '#tree', function(e) {
            e = e || window.event;
            e.stopPropagation();
            $(this).next().slideDown('fast');
        });

        $(document).on('click', '#tree_box', function(e) {
            e = e || window.event;
            e.stopPropagation();
            $(this).show();
        });


        $(document).click(function(e) {
            e = e || window.event;
            var target = e.target || e.srcElement;
            if ($(target) != $('#tree') && $(target) != $('#tree_box')) {
                $('#tree_box').slideUp('fast');
            }
        });

        edit_ctrl = new Vue({
            el: "#edit_ctrl",
            data: {
                interdata: loader.temp_data,
                cases: [],
                subNames: []
            },
            methods: {},
            created: function() {
                var that = this;
                fun.get(loader.baseurl + '/case/api', {
                    userToken: loader.getCookie('token')
                }, function(res) {
                    if (res) that.cases = res.data;
                });
                //          	fun.get(loader.baseurl + '/subject/list', {userToken: loader.getCookie('token')}, function(rs) {
                //                  if(rs){
                //                  	layui.tree({
                //			                elem: '#subject',
                //			                click: function(item) {
                //			                    $('#tree').val(item.name);
                //			                    $('input[name=subjectId]').val(item.id);
                //			                    $('#tree_box').slideUp('fast');
                //			                },
                //			                nodes:rs.data
                //			            });
                //                  }
                //              });
                fun.get(loader.baseurl + '/subject/getSubjectMj', {
                    userToken: loader.getCookie('token')
                }, function(rs) {
                    that.subNames = rs.data;
                });
                loader.temp_data = '';
            },
            updated: function() {
                form.render('select');
                $('div.not input').removeAttr('readonly');
                $('div.not').each(function(i,el){
            		$(el).find('.layui-select-title input').val($(el).children(':first-child').val());
            	});
            }
        });

        form.render();

        laydate.render({
            elem: '#time',
            type: 'datetime'
        });

    });
</script>