<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.bc.bankdata.dao.AreaCodeMapper">
	 <select id="searchByParam" resultType="java.util.Map">
	 	select 
	 		PROVINCE provice,
	 		AREA area,
	 		AREA_CODE areaCode
	 	from T_ICBC_AREA_CODE 
	 	<where>
	 		DEL_STATUS = 0
	 		<if test="searchName != null and searchName != ''">
	 			and (
	 				instr(PROVINCE, #{searchName, jdbcType=VARCHAR}) &gt; 0
	 				or
	 				instr(AREA, #{searchName, jdbcType=VARCHAR}) &gt; 0
	 				or 
	 				instr( AREA_CODE, #{searchName, jdbcType=VARCHAR}) &gt; 0
	 			)
	 		</if>
	 	</where>
	 	ORDER BY ID ASC
	 </select>
	 
	 <select id="searchProvinceByParam" resultType="java.lang.String">
	 	select 
	 		PROVINCE
	 	from T_ICBC_AREA_CODE 
	 	<where>
	 		DEL_STATUS = 0
	 		<if test="province != null and province != ''">
	 			and instr(PROVINCE, #{province, jdbcType=VARCHAR}) &gt; 0
	 		</if>
	 	</where>
	 	ORDER BY ID ASC
	 </select>

</mapper>