<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.born.bc.bankdata.dao.InterPayMapper">
	  <resultMap id="BaseResultMap" type="com.born.bc.bankdata.entity.InterPay" >
	    <id column="ID" property="id" jdbcType="VARCHAR" />
	    <result column="VOUCHER_NO" property="voucherNo" jdbcType="VARCHAR" />
	    <result column="LOCAL_NUMBER" property="localNumber" jdbcType="VARCHAR" />
	    <result column="PARTY_NUMBER" property="partyNumber" jdbcType="VARCHAR" />
	    <result column="TRANSACTION_TIME" property="transactionTime" jdbcType="VARCHAR" />
	    <result column="BORROW_OR_LEND" property="borrowOrLend" jdbcType="VARCHAR" />
	    <result column="DEBIT_PRICE" property="debitPrice" jdbcType="VARCHAR" />
	    <result column="CREDIT_PRICE" property="creditPrice" jdbcType="VARCHAR" />
	    <result column="PARTY_LINE_NUMBER" property="partyLineNumber" jdbcType="VARCHAR" />
	    <result column="ABSTRACT_INFO" property="abstractInfo" jdbcType="VARCHAR" />
	    <result column="PURPOSE" property="purpose" jdbcType="VARCHAR" />
	    <result column="CORPORATE_NAME" property="corporateName" jdbcType="VARCHAR" />
	    <result column="BALANCE" property="balance" jdbcType="VARCHAR" />
	    <result column="INDIVIDUATION" property="individuation" jdbcType="VARCHAR" />
	    <result column="CASE_ID" property="caseId" jdbcType="VARCHAR" />
	    <result column="CASE_NUMBER" property="caseNumber" jdbcType="VARCHAR" />
	    <result column="SUBJECT_ID" property="subjectId" jdbcType="VARCHAR" />
	    <result column="SUBJECT_NAME" property="subjectName" jdbcType="VARCHAR" />
	    <result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
	    <result column="UNDERTAKER" property="undertaker" jdbcType="VARCHAR" />
	    <result column="IS_EDIT" property="isEdit" jdbcType="INTEGER" />
	    <result column="BATCH_NUMBER" property="batchNumber" jdbcType="VARCHAR" />
	    <result column="FORMMAKER_ID" property="formmakerId" jdbcType="VARCHAR" />
	    <result column="FORMMAKER_NAME" property="formmakerName" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="LAST_MODIFIED_TIME" property="lastModifiedTime" jdbcType="TIMESTAMP" />
	    <result column="DEL_STATUS" property="delStatus" jdbcType="INTEGER" />
	  </resultMap>
	<sql id="Base_Column_List">
		ID, VOUCHER_NO, LOCAL_NUMBER, PARTY_NUMBER, TRANSACTION_TIME, BORROW_OR_LEND, DEBIT_PRICE, 
	    CREDIT_PRICE, PARTY_LINE_NUMBER, ABSTRACT_INFO, PURPOSE, CORPORATE_NAME, BALANCE, 
	    INDIVIDUATION, CASE_ID, CASE_NUMBER, SUBJECT_ID, SUBJECT_NAME, DEPARTMENT_NAME, UNDERTAKER, 
	    IS_EDIT, BATCH_NUMBER, FORMMAKER_ID, FORMMAKER_NAME, CREATE_TIME, DEL_STATUS
	</sql>
	
	<select id="selectByPage" parameterType="com.born.bc.bankdata.entity.InterPayParamDto" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from t_inter_pay 
		<where>
			DEL_STATUS = 0
			<if test="startDate != null">
				and str_to_date(
					TRANSACTION_TIME,
					'%Y-%m-%d %H'
				) &gt; #{startDate, jdbcType=datetime} 
			</if>
			<if test="endDate != null">
				and str_to_date(
					TRANSACTION_TIME,
					'%Y-%m-%d %H'
				) &lt; #{endtDate, jdbcType=datetime}
			</if>
		</where>
	</select>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from t_inter_pay
		where ID = #{id,jdbcType=VARCHAR}
	</select>

	<insert id="batchInsertSelective" parameterType="com.born.bc.bankdata.entity.InterPay">
		insert into t_inter_pay
		<trim prefix="(" suffix=")" suffixOverrides=",">
		  ID, VOUCHER_NO, LOCAL_NUMBER, 
	      PARTY_NUMBER, TRANSACTION_TIME, BORROW_OR_LEND, 
	      DEBIT_PRICE, CREDIT_PRICE, PARTY_LINE_NUMBER, 
	      ABSTRACT_INFO, PURPOSE, CORPORATE_NAME, 
	      BALANCE, INDIVIDUATION, BATCH_NUMBER, 
	      FORMMAKER_ID, FORMMAKER_NAME
		</trim>
		values
		<foreach collection="list" item="item" index="index"
			separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
			  #{item.id,jdbcType=VARCHAR}, 
			  #{item.voucherNo,jdbcType=VARCHAR}, 
			  #{item.localNumber,jdbcType=VARCHAR}, 
		      #{item.partyNumber,jdbcType=VARCHAR}, 
		      #{item.transactionTime,jdbcType=VARCHAR}, 
		      #{item.borrowOrLend,jdbcType=VARCHAR}, 
		      #{item.debitPrice,jdbcType=VARCHAR}, 
		      #{item.creditPrice,jdbcType=VARCHAR}, 
		      #{item.partyLineNumber,jdbcType=VARCHAR}, 
		      #{item.abstractInfo,jdbcType=VARCHAR}, 
		      #{item.purpose,jdbcType=VARCHAR}, 
		      #{item.corporateName,jdbcType=VARCHAR}, 
		      #{item.balance,jdbcType=VARCHAR}, 
		      #{item.individuation,jdbcType=VARCHAR}, 
		      #{item.batchNumber,jdbcType=VARCHAR}, 
		      #{item.formmakerId,jdbcType=VARCHAR}, 
		      #{item.formmakerName,jdbcType=VARCHAR}, 
			</trim>
		</foreach>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.born.bc.bankdata.entity.InterPay">
		update t_inter_pay
	    <set >
	      <if test="voucherNo != null" >
	        VOUCHER_NO = #{voucherNo,jdbcType=VARCHAR},
	      </if>
	      <if test="localNumber != null" >
	        LOCAL_NUMBER = #{localNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="partyNumber != null" >
	        PARTY_NUMBER = #{partyNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="transactionTime != null" >
	        TRANSACTION_TIME = #{transactionTime,jdbcType=VARCHAR},
	      </if>
	      <if test="borrowOrLend != null" >
	        BORROW_OR_LEND = #{borrowOrLend,jdbcType=VARCHAR},
	      </if>
	      <if test="debitPrice != null" >
	        DEBIT_PRICE = #{debitPrice,jdbcType=VARCHAR},
	      </if>
	      <if test="creditPrice != null" >
	        CREDIT_PRICE = #{creditPrice,jdbcType=VARCHAR},
	      </if>
	      <if test="partyLineNumber != null" >
	        PARTY_LINE_NUMBER = #{partyLineNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="abstractInfo != null" >
	        ABSTRACT_INFO = #{abstractInfo,jdbcType=VARCHAR},
	      </if>
	      <if test="purpose != null" >
	        PURPOSE = #{purpose,jdbcType=VARCHAR},
	      </if>
	      <if test="corporateName != null" >
	        CORPORATE_NAME = #{corporateName,jdbcType=VARCHAR},
	      </if>
	      <if test="balance != null" >
	        BALANCE = #{balance,jdbcType=VARCHAR},
	      </if>
	      <if test="individuation != null" >
	        INDIVIDUATION = #{individuation,jdbcType=VARCHAR},
	      </if>
	      <if test="caseId != null" >
	        CASE_ID = #{caseId,jdbcType=VARCHAR},
	      </if>
	      <if test="caseNumber != null" >
	        CASE_NUMBER = #{caseNumber,jdbcType=VARCHAR},
	      </if>
	      <if test="subjectId != null" >
	        SUBJECT_ID = #{subjectId,jdbcType=VARCHAR},
	      </if>
	      <if test="subjectName != null" >
	        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
	      </if>
	      <if test="departmentName != null" >
	        DEPARTMENT_NAME = #{departmentName,jdbcType=VARCHAR},
	      </if>
	      <if test="undertaker != null" >
	        UNDERTAKER = #{undertaker,jdbcType=VARCHAR},
	      </if>
	      <if test="batchNumber != null" >
	        BATCH_NUMBER = #{batchNumber,jdbcType=VARCHAR},
	      </if>
	      	IS_EDIT = 1,
	        LAST_MODIFIED_TIME = current_timestamp()
	    </set>
	    where ID = #{id,jdbcType=VARCHAR}
	</update>

	<select id="getlastSaleTime" resultType="com.born.bc.bankdata.entity.LastSaleTimeDto">
		SELECT
			MAX(
				str_to_date(
					TRANSACTION_TIME,
					'%Y-%m-%d %H'
				)
			) maxTime,
			MIN(
				str_to_date(
					TRANSACTION_TIME,
					'%Y-%m-%d %H'
				)
			) minTime
		FROM
			t_inter_pay
		WHERE
			BATCH_NUMBER = (
				SELECT
					BATCH_NUMBER
				FROM
					t_inter_pay
				ORDER BY
					CREATE_TIME DESC
				LIMIT 1
			)
	</select>

</mapper>